[Unit]
Description=Service in charge of devices detection on LAN
After=network.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/local/bin/detect-device --daemon

[Install]
WantedBy=multi-user.target
