[Unit]
Description=Service in charge of starting device2mqtt detection
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/device2mqtt

[Install]
WantedBy=multi-user.target
