[Unit]
Description=MQTT gateway for Heatzy pilot devices
After=network-online.target
 
[Service]
Type=simple
UMask=447
ExecStart=/usr/local/sbin/heatzy2mqtt --start
ExecStop=/usr/local/sbin/heatzy2mqtt --stop
Restart=on-failure
PIDFile=/var/run/heatzy2mqtt.pid
TimeoutStopSec=30
 
[Install]
WantedBy=multi-user.target
