[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/heatzy-gui
Name[en_US]=Heatzy pilote management
Name[en]=Heatzy pilote management
Name[C]=Heatzy pilote management
Name[fr_FR]=Gestion de vos Heatzy pilote
Comment=Tool to manage Heatzy pilote devices.
Comment[en_US]=Tool to manage Heatzy pilote devices.
Comment[fr_FR]=Outil de gestion de vos Heatzy pilote
Categories=GNOME;Tools
MimeType=
Icon=smart-heater
